---
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Section class="py-40 pb-32">
    <span></span>
  </Section>
  <Section id="experience">
    <span></span>
  </Section>
  <Section id="proyects">
    <span></span>
  </Section>
</Layout>
