---
import Heart from "./icons/Heart.astro";
---

<footer class="m-4 mx-auto justify-center items-center bg-white border-t border-gray-200 dark:border-gray-700 dark:bg-gray-800">
  <div
    class="w-full flex justify-center text-center max-w-screen p-4 "
  >
    <span class="text-sm flex gap-1 text-gray-500 sm:text-center dark:text-gray-400"
      >© 2024 Jonathan Moya. Hecho con mucho
      <Heart fill="#E63946" />
      con las manitas.
    </span>
  </div>
</footer>
