---
import Heart from "./icons/Heart.astro";
---

<footer class="px-4 flex flex-col items-center justify-center">
  <div
    class="undefined flex justify-between lg:w-[740px]"
  >
  <span class="text-sm flex gap-1 text-gray-500 sm:text-center dark:text-gray-400"
      >Hecho con mucho
      <Heart fill="#E63946" />
      con las manitas.
    </span>
  <span class="text-sm flex gap-1 text-gray-500 sm:text-center dark:text-gray-400"
      >Jonathan Moya 2024</span>
  </div>
</footer>
