---
import Heart from "./icons/Heart.astro";
---

<footer class="px-4 flex flex-col flex-wrap gap-4 w-full items-center justify-center">
  <div
    class="flex justify-between lg:min-w-[768px]"
  >
  <span class="text-sm flex gap-1 text-gray-500 sm:text-center"
      >Hecho con mucho
      <Heart fill="#E63946" />
      con las manitas.
    </span>
  <span class="text-sm flex gap-1 text-gray-500 sm:text-center"
      >Jonathan Moya 2025</span>
  </div>
</footer>