---
const MENU = [
  {
    title: "Sobre mí",
    url: "#profile",
  },
  {
    title: "Experiencia",
    url: "#experience",
  },
  {
    title: "Proyectos",
    url: "#projects",
  },
];
---
<header class="container sticky top-0 z-50 mb-1 flex w-full max-w-4xl items-center justify-between bg-neutral-100/80 py-4 backdrop-blur-md dark:bg-neutral-900/80">
  <nav
    class="flex w-full max-w-4xl items-center justify-between px-8"
  >
    <a
      href="/"
      class="text-md flex items-center space-x-1 font-medium tracking-tight opacity-80 transition-opacity duration-150 hover:opacity-100"
    >
      <span>jonathan.dev</span>
    </a>
    <div class="flex gap-3 items-center space-x-1">
      {
        MENU.map(({title , url}) => (
          <li class="list-none">
            <a
              href={url}
              class="block py-2 px-3 md:p-0 underline-offset-[5px] hover:underline decoration-dotted"
              aria-current="page"
            >
              {title}
            </a>
          </li>
        ))
      }
  
    </div>
  </nav>
</header>
