---
import type { Tag } from "../types/Project.type";

const tag: Tag = Astro.props.tag;
---

<span
    class="cursor-default flex gap-1 rounded-md  border border-neutral-300 bg-neutral-200/50 px-2 py-1 font-mono text-xs font-medium text-neutral-600"
    >
    <!-- <tag.icon height="16" width="16" /> --> 
    {tag.name}
</span>
