---
import '@fontsource-variable/onest';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface props{
    title: string
    description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen scroll-smooth bg-neutral-100 font-sans antialiased selection:bg-neutral-200 dark:bg-neutral-900 dark:selection:bg-neutral-700">
    <main class="relative flex flex-col gap-20 min-h-screen py-4 md:py-6 max-w-4xl mx-auto">
      <Header />
      <slot />
      <Footer />
    </main>
  </body>
</html>

<style>
  body{
    width: -webkit-fill-available;
    min-width: fit-content;
  }
</style>